<div class="home-who-we-are_person">
	<a {% if person.homepage %}href="{{ person.homepage }}" {% endif %}>
		<img
			class="home-who-we-are_person-image"
			src="{{ person.photo.url }}"
			alt="{{ person.name }}"
		/>
		<span class="home-who-we-are_person-name">{{ person.name }}</span></a
	>
	<span class="home-who-we-are_person-title">{{ person.title }}</span>
	<span class="home-who-we-are_person-school">{{ person.school }}</span>
	<span class="home-who-we-are_person-biography preview">{{
		person.biography.html
	}}</span>
</div>
