<a
	{%
	if
	person.homepage
	%}
	class="home-who-we-are_person homepage"
	href="{{ person.homepage }}"
	{%
	else
	%}
	class="home-who-we-are_person"
	{%
	endif
	%}
	aria-disabled="true"
>
	<img
		class="home-who-we-are_person-image"
		src="{{ person.photo.url }}"
		alt="{{ person.name }}"
	/>
	<span class="home-who-we-are_person-name">{{ person.name }}</span>
	<span class="home-who-we-are_person-title">{{ person.title }}</span>
	<span class="home-who-we-are_person-school">{{ person.school }}</span>
	<span class="home-who-we-are_person-biography">{{
		person.biography.html
	}}</span>
</a>
