<section class="home-publications" id="publications">
	<h1 class="home-publications_title">Publications</h1>
	<div class="home-publications_body">
		{{ cms.basic.publications.html }}
	</div>
	<div class="home-publications_content">
		<a class="home-publications_header" href="/publications">
			<span class="home-publications_year">{{
				cms.publications[0].date | monthYear
			}}</span>
			<span class="home-publications_view-all">
				View all publications
				<img src="{{ cms.website.downIcon.url }}" />
			</span>
		</a>
		{% for publication in cms.publications %}
		<a
			class="home-publications_publication"
			href="/publications/{{ slug }}"
			aria-disabled="true"
		>
			<span class="home-publications_publication-title">{{
				publication.title
			}}</span>
			<span class="home-publications_publication-preview">{{
				publication.abstract.html | squeezeTag
			}}</span>
		</a>
		{% endfor %}
	</div>
</section>
