<div class="events_event" href="/events/{{ event.slug }}" aria-disabled="true">
	<div class="events_event-date">
		<span class="events_event-month">{{ event.date | month }}</span>
		<span class="events_event-day">{{ event.date | day }}</span>
	</div>
	<div class="events_event-main">
		<p class="events_event-title">{{ event.title }}</p>
		<p class="events_event-topic">{{ event.topic }}</p>
		{% if event.hosts and event.hosts.length > 0 %}<p class="events_event-hosts">{% include 'includes/authors.liquid', authors: event.hosts %}</p>{% endif %}
		{% if event.details and event.details.html.size > 7 %}<div class="events_event-description preview">{{
			event.details.html
		}}</span></div>{% endif %}
	</div>
</div>
