<nav class="navbar">
	<a class="navbar_logo" href="/">
		<img height="72" src="{{ cms.basic.logo[0].url }}">
		{{ cms.basic.shortIntro.html }}
	</a>
	<div class="navbar_header">
		{% for social in cms.socialMedias %}
			<a class="navbar_social" href="{{ social.url }}">
				<img src="{{ social.icon.url }}" />
			</a>
		{% endfor %}
		<div class="navbar_search">
			<script
				src="https://cse.google.com/cse.js?cx=c80ca2f8d0f78127b"
				async
			></script>
			<div class="gcse-search"></div>
		</div>
	</div>
	<hr class="navbar_divider" />
	<div class="navbar_main">
		<div class="navbar_full">
			{% for link in cms.website.navigationBar %}
				{% if link.links.size > 0 %}
					<div class="navbar_dropdown">
						<a class="navbar_dropdown-trigger" href="/#{{ link.slug }}">
							{{ link.name }}
							<img src="{{ cms.website.downIcon.url }}" />
						</a>
						<div class="navbar_dropdown-container">
							<div class="navbar_dropdown-content">
								{% for sublink in link.links %}
									<a
										class="navbar_dropdown-link"
										{% if sublink.slug == 'courses' or sublink.slug == 'opportunities' or sublink.slug == 'spotlight' %}
											onclick="alert('Under construction, coming soon'); return false"
										{% endif %}
										href="/{% if sublink.slug != 'software' and sublink.slug != 'projects' and sublink.slug != 'resources' %}#{% endif %}{{ sublink.slug }}"
									>
										{{ sublink.name }}
									</a>
								{% endfor %}
							</div>
						</div>
					</div>
				{% else %}
					<a
						class="navbar_link{% if link.slug == 'join' %} highlight{% endif %}"
						href="/{% if link.slug != 'join' and link.slug != 'events' %}#{% endif %}{{
							link.slug
						}}">
						{{ link.name }}
					</a>
				{% endif %}
			{% endfor %}
		</div>
		<button class="navbar_menu-button" onclick="document.querySelector('.navbar_menu-toggle').classList.toggle('navbar_hidden')">Menu</button>
	</div>
	<div class="navbar_menu-toggle navbar_hidden">
		{% for link in cms.website.navigationBar %}
			{% if link.links.size > 0 %}
				<div class="navbar_dropdown">
					<a class="navbar_dropdown-trigger" href="/#{{ link.slug }}">
						{{ link.name }}
						<img src="{{ cms.website.downIcon.url }}" />
					</a>
					<div class="navbar_dropdown-container">
						<div class="navbar_dropdown-content">
							{% for sublink in link.links %}
								<a
									class="navbar_dropdown-link"
									{% if link.slug =='learn' or sublink.slug == 'projects' or sublink.slug == 'spotlight' %}
										onclick="alert('Under construction, coming soon'); return false"
									{% endif %}
									href="/#{{ sublink.slug }}"
								>
									{{ sublink.name }}
								</a>
							{% endfor %}
						</div>
					</div>
				</div>
			{% else %}
				<a
					class="navbar_link"
					href="/{% if link.slug == 'events' or link.slug == 'publications' %}{% if page.fileSlug == 'events' or page.fileSlug == 'publications' %}{% else %}#{% endif %}{% else %}#{% endif %}{{
						link.slug
					}}"
					{% if link.slug == 'events' or link.slug == 'projects' or link.slug == 'papers-we-love' %}onclick="alert('Under construction, coming soon'); return false"{% endif %}
				>
					{{ link.name }}
				</a>
			{% endif %}
		{% endfor %}
	</div>
</nav>
