<div class="publications_publication paper_summary" id="paper_{{ paper.slug }}">
	<p>{{ paper.date | monthYear }}</p>
	<a href="{{ paper.url }}">
		<span class="publications_publication-title">{{ paper.title }}</span>
	</a>
	<span class="publications_publication-preview preview">{{
		paper.abstract.html
	}}</span>
	<p class="authors">
		{% for author in paper.authors %}{% if author.homepage %}<a
			href="{{ author.homepage }}"
			>{{ author.name }}</a
		>{% else %}{{ author.name }}{%endif%}{% unless forloop.last %}, {% endunless
		%}{% endfor %}
	</p>
	{% if paper.softwares.size > 0 or paper.links.size > 0 %}
	<p class="links">
		{% if paper.softwares.size > 0 %}<strong>Software</strong>: {% for software
		in paper.softwares %}<a href="/software/#{{ software.slug }}">{{
			software.name
		}}</a
		>{% unless forloop.last and paper.links.size == 0 %}, {% endunless %}{%
		endfor %}{% endif %} {% if paper.links.size > 0 %}<strong
			>Link{% if paper.links.size > 1 %}s{% endif %}</strong
		>: {% for link in paper.links %}<a href="{{ link.url }}">{{ link.name }}</a
		>{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}
	</p>
	{% endif %}
</div>
