---
title: Events - Practically Causal
styles:
	- events.css
layout: layouts/base.liquid
---

<section class="events">
	<h1 class="events_title">Activities & Events</h1>
	<div class="events_body">{{ cms.basic.events.html }}</div>
	<div class="events_content">
		<p class="events_date">{{ cms.events[0].date | year }}</p>
		{% for event in cms.events %}
		<a
			class="events_event"
			href="/events/{{ event.slug }}"
			aria-disabled="true"
		>
			<span class="events_event-date">
				<span class="events_event-month">{{ event.date | month }}</span>
				<span class="events_event-day">{{ event.date | day }}</span>
			</span>
			<span class="events_event-main">
				<span class="events_event-title">{{ event.title }}</span>
				<span class="events_event-topic">{{ event.topic }}</span>
			</span>
			<span class="events_event-description">{{
				event.details.html | squeezeTag
			}}</span>
		</a>
		{% endfor %}
	</div>
</section>
