---
title: Publications - Practically Causal
styles:
	- publications.css
layout: layouts/base.liquid
---

<section class="publications">
	<h1 class="publications_title">Publications</h1>
	<div class="publications_body">
		{{ cms.basic.publications.html }}
	</div>
	<div class="publications_content">
		<p class="publications_year">{{ cms.publications[0].date | year }}</p>
		{% for publication in cms.publications %}
		<a
			class="publications_publication"
			href="/publications/{{ publication.slug }}"
			aria-disabled="true"
		>
			<span class="publications_publication-title">{{
				publication.title
			}}</span>
			<span class="publications_publication-preview">{{
				publication.abstract.html | squeezeTag
			}}</span>
		</a>
		{% endfor %}
	</div>
</section>
